@model IEnumerable<SneakerAIO.Models.SneakerModel>

<style>
    .truncate-overflow {
        line-height: 1.5em;
        height: 3em; /* height is 2x line-height, so two lines will display */
        overflow: hidden; /* prevents extra lines from being visible */
    }

    .img {
        width: 258px;
        height: 172px;
    }

    .card-size {
        width: 260px;
        height: 385px;
    }
</style>

<div class="d-flex flex-row flex-wrap">
    @*Display all shoes.*@
    @foreach (var item in Model)
    {

        <div class="p-1">
            @*Card for each individual shoe.*@
            <div class="card card-size">

                @*Image*@
                <img src="@Html.DisplayFor(m => item.ImagePath)" class="card-img-top img-shoes" />

                <div class="card-body">
                    <h5 class="card-title">
                        @*Shoe Name*@
                        <label class="card-title truncate-overflow">@Html.DisplayFor(m => item.Shoe)</label>
                    </h5>

                    <p class="card-text">
                        @*Style Code - Color Code*@
                        <label class="badge badge-success">@Html.DisplayFor(m => item.Style) - @Html.DisplayFor(m => item.Color)</label>

                        @*Size*@
                        <label class="badge badge-success">Size: @Html.DisplayFor(m => item.Size)</label>
                    </p>
                </div>

                <div class="card-footer">
                    <small class="text-muted">
                        @*Release Date*@
                        Release Date:
                        <label>@Html.DisplayFor(m => item.ReleaseDate)</label>
                    </small>
                </div>
            </div>
        </div>

    }
</div>