@model IEnumerable<SneakerAIO.Models.SneakerModel>


<form method="get" asp-action="Index">
    <div class="input-group mb-3 float-right" style="width: 25rem;">
        <input type="search" placeholder="search...." value="@ViewData["SearchTerm"]" name="searchTerm" class="form-control" />
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Clear</a>
        </div>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Shoe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th style="width: 130px;">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th><a onclick="showInPopUp('@Url.Action("AddOrEdit","Sneaker", new { id = 0}, Context.Request.Scheme)', 'Add Sneaker')" class="btn btn-success text-white"><i class="fas fa-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@Html.DisplayFor(m => item.ImagePath)" width="150" height="100" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shoe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a onclick="showInPopUp('@Url.Action("AddOrEdit","Sneaker", new { id = item.ShoeId}, Context.Request.Scheme)', 'Update Sneaker')" class="m-1 btn btn-info text-white custom-btn-edit-delete"><i class="fas fa-pencil-alt"></i></a>
                        <form asp-action="Delete" asp-route-id="@item.ShoeId" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">

                            <button class="m-1 btn btn-danger custom-btn-edit-delete" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                            @*<input type="submit" class="btn btn-danger" />*@
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
